:host {
	width: 100%;
}

nz-carousel {
	aspect-ratio: 16 / 9;
	width: 100%;
	overflow: hidden;
}

[nz-carousel-content] {
	line-height: 0;
	background: #364d79;
	color: #fff;
	height: 100%;
	width: 100%;

	.img-container {
		width: 100%;
		height: 100%;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}