<section>
  <div nz-flex [nzVertical]="true" [nzAlign]="'center'">
    <h2>Nos activités</h2>

    <nz-carousel nzAutoPlay [nzArrows]="false" [nzDots]="false">
      <div nz-carousel-content>
        <div class="img-container">
          <img src="assets/slideshow/slide1.png" />
        </div>
      </div>
      <div nz-carousel-content>
        <div class="img-container">
          <img src="assets/slideshow/slide2.png" />
        </div>
      </div>
      <div nz-carousel-content>
        <div class="img-container">
          <img src="assets/slideshow/slide3.png" />
        </div>
      </div>
      <div nz-carousel-content>
        <div class="img-container">
          <img src="assets/slideshow/slide4.png" />
        </div>
      </div>
    </nz-carousel>
  </div>
</section>
