<swiper-container
  pagination="true"
  pagination-clickable="true"
  navigation="true"
  space-between="30"
  loop="true"
>
  <swiper-slide>
    <div class="slide-wrapper">
      <img src="assets/cat1.jpg" alt="TODO" />
      <div class="slide-overlay">
        <h1 class="slide-title">Apprendre avec confiance</h1>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide-wrapper">
      <img src="assets/cat1.jpg" />
      <div class="slide-overlay">
        <h1 class="slide-title">Apprendre avec confiance</h1>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide-wrapper">
      <img src="assets/cat1.jpg" />
      <div class="slide-overlay">
        <h1 class="slide-title">Apprendre avec confiance</h1>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide-wrapper">
      <img src="assets/cat1.jpg" />
      <div class="slide-overlay">
        <h1 class="slide-title">Apprendre avec confiance</h1>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide-wrapper">
      <img src="assets/cat1.jpg" />
      <div class="slide-overlay">
        <h1 class="slide-title">Apprendre avec confiance</h1>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
