<mat-card appearance="outlined">
  <mat-card-header>
    <div>
      <mat-card-title>{{ title() }}</mat-card-title>
      @if (subtitle()) {
        <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
      }
    </div>

    @if (metadataRow1() || metadataRow2()) {
      <div class="header-right">
        <mat-card-subtitle class="top-right-subtitle">
          @if (metadataRow1()) {
            <span>{{ metadataRow1() }}</span>
            <br />
          }
          @if (metadataRow2()) {
            <span>{{ metadataRow2() }}</span>
            <br />
          }
        </mat-card-subtitle>
      </div>
    }
  </mat-card-header>
  <mat-card-content>
    <hr>
    <p>
      {{ content() }}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button>{{ detailButton() }}</button>
  </mat-card-footer>
</mat-card>
