.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* Fill the entire screen height */
	overflow: hidden;
	/* Prevent the main window from scrolling */
}

.content-area {
	flex: 1;
	overflow-y: auto;
}

.page-area {
	padding-top: 2%;
	/* TODO change for mobile */
	padding-left: 17.5%;
	padding-right: 17.5%;
	padding-bottom: 2%;
}