.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* Fill the entire screen height */
	overflow: hidden;
	/* Prevent the main window from scrolling */
}

.content-area {
	flex: 1;
	overflow-y: auto;
}