<div class="app-container">

	<app-navbar></app-navbar>

	<main class="content-area">
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
		<h1>qsdsqdsqdqdq</h1>
	</main>


</div>

<router-outlet></router-outlet>