/* You can add global styles to this file, and also import other style files */

/* TODO move to component */
/* Specific styling for the values card to make it stand out */
mat-card.left-bordered-card {
	margin: 48px 0;
	background-color: var(--mat-sys-surface-container-low);
	border-left: 4px solid var(--mat-sys-primary);
	box-shadow: none;

	mat-card-title {
		margin-bottom: 0.5rem;
	}
}