// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: darken(#00E5FF, 25%);
// @layout-header-background: #82b5a7;
@layout-header-background: #82b5a7;

@layout-footer-background: darken(@layout-body-background, 10%);
