<section>
  <div nz-row style="width: 100%">
    <div nz-col nzSpan="11">
      <h2>Agir avec nous</h2>

      <p>
        Vous pouvez contribuer en devenant bénévole, en relayant nos actions ou en soutenant
        l’association.
      </p>

      <div>
        <a
          nz-button
          nzType="primary"
          href="https://www.helloasso.com/associations/assodesjeunes4205/formulaires/1"
          target="_blank"
          >Faire un don</a
        >
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="11">
      <h2>Comment nous aidons</h2>

      <div class="how-we-help-list">
        <div>
          <span nz-icon nzType="heart" nzTheme="outline"></span>
          <span>Accompagnement bienveillant — à votre rythme</span>
        </div>
        <div>
          <span nz-icon nzType="bulb" nzTheme="outline"></span>
          <span>Méthodes pratiques — exercices concrets</span>
        </div>
        <div>
          <span nz-icon nzType="team" nzTheme="outline"></span>
          <span>Impact social — inclusion et autonomie</span>
        </div>
      </div>
    </div>
  </div>
</section>
